<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>

<div class="container idea-list" >
  <div class="row idea-list-header hidden-xs hidden-sm">
    <div class="col-md-2">Name</div>
    <div class="col-md-3">Description</div>
    <div class="col-md-4">Picture</div>
    <div class="col-md-3"></div>
  </div>

  <% @ideas.each do |idea| %>
    <div class="row idea-item">
      <div class="col-md-2 idea-name"><%= link_to idea.name, idea %></div>
      <div class="col-md-3 idea-picture visible-xs visible-sm">
        <%= image_tag(idea.picture_url) if idea.picture.present? %>
      </div>
      <div class="col-md-3 idea-description"><%= idea.description %></div>
      <div class="col-md-4 idea-picture hidden-xs hidden-sm"><%= idea.picture %></div>
      <div class="col-md-3 idea-actions hidden-xs hidden-sm">
        <%= link_to 'Show', idea, class: "btn btn-default" %>
        <%= link_to 'Edit', edit_idea_path(idea), class: "btn btn-default"  %>
        <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Idea', new_idea_path %>
